<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<title align="center">SAWIT Educate to Empower</title>
    	<link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css"/>
    	<link rel="stylesheet" type="text/css" href="/CSS/bootstrap.css"/>
    	<link rel="stylesheet" type="text/css" href="/CSS/main_page.css"/>
    	<link rel="stylesheet" type="text/css" href="/CSS/bootstrap-responsive.css"/>
    	<link rel="stylesheet" type="text/css" href="/CSS/bootstrap-responsive.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="/CSS/login.css"/>
    	<link rel="stylesheet" type="text/css" href="/CSS/style.css"/>
    	<link rel="stylesheet" type="text/css" href="/CSS/tuna.css"/>
    	<link href='/CSS/simplesidebar.css' rel='stylesheet' type='text/css'/>
   
	</head>
	<body id="mainbod">
		 
		{{{body}}}
		<footer class="navbar-fixed-bottom">
				<div class="footer-right">
					<div class="col-xs-1 developers"><a href="/#">developers</a></div>
					<div class="col-xs-1 copyright"><a href="/#">copyright</a></div>
					<div class="col-xs-1 disclaimer"><a href="/#">disclaimer</a></div>
					<div class="footer-left">
						<div class="col-xs-2">Powered by <a href="http://flowplan.net">Laurrain Saffou</a></div>
					</div>
				</div>
		</footer>
		<script src="../js/jquery-1.1.0.2.js"></script>
		<script src="../js/Knockout 2.2.0.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="../js/js/scripts.js"></script>
		<script src="../js/fastRender.js"></script>
		<script src="../js/questionaire.js"></script>
		<script src="../js/KnockoutMVVM.js"></script>
		<script src="../js/form.js"></script>
		<!--script src="../js/print.js"></script-->
	</body>
</html>