<h1 class="text-center">Add a customer</h1>

<div class="container">
	{{#data}}
	<form class="form-content  col-sm-4 col-sm-offset-4" action="/learner/learner_add" method="POST">
		<p>Account: <input type="text" name="Account" data-bind="value: {{Account}}"></p><br>	
		<p>Name: <input type="text" name="Name" data-bind="value: {{Name}}"></p><br><br>
		<input type="submit" class="btn btn-warning btn-lg" value="Save"><input action="action" type="submit" value="Cancel" onclick="history.go(-1);"/><br>
	</form>
	{{/data}}
   
</div>

