<table class="table" id="locationsList">
    <tr>
            <th class=".col-md-2">Surname</th><th class=".col-md-2">Name</th><th class=".col-md-2">ID Number</th><th class=".col-md-2">Contact</th><th class=".col-md-2">Signature Morning</th><th class=".col-md-2">Signature Afternoon</th>
        </tr>                         
    
      
        
                {{#learner}} 
        
            <tr>
                <td>{{surname}}</td><td>{{Name}}</td><td>{{Idnumber}}</td><td>{{phone}}</td><td>
            </tr>
                {{/learner}}
    
</table>