
<div id="sign">
    
    <div class="main-container container">
        <div class="nav navbar navbar-default">
            <a href="/"><h1 align="center">Sawit Educate To Empower</h1></a>
        </div>
        {{#if administrator}}
    <!-- form container -->
    <div class="form-container">
        <!-- form header -->
        <h1 class="form-header heading-color">Sign Up</h1>
        <!-- end of form header -->
        <!-- form content -->
        <form class="form-content"  action="/signup" method="POST">
            <fieldset>
                <input class="signupform" type="text" class="form-control" name="username" placeholder="Username" value="{{username}}" required="" autofocus=""/>
                <input class="signupform" type="password" class="form-control" name="password" placeholder="Password" value="{{password}}" required="">
                <input class="signupform" type="password" class="form-control" name="password_confirm" placeholder="Password_confirm" required=""><br><br>
                 {{#if message}}
                <p>{{message}}</p>
                 {{/if}}
                <input type="submit" value="Submit" class="form-submit-control" />
            </fieldset>
        </form>
        <hr>
                <p>Or go  <a href="/logout">logOut</a></p><br><br>
                <a href="/login">log In</a>
        <!-- end of form-content -->
       
    </div>
</di>
    {{else}}
    <h1>SORRY, YOU HAVE TO BE ADMININISTRATOR!</h1>
    {{/if}}
   
    <!-- end of form container -->
</div>